<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let filme of lista_filmes">
    <ion-card-header>
      <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path">
      <ion-card-title class="titulo">{{filme.title}}</ion-card-title>
      <ion-card-subtitle>{{filme.release_date}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{filme.overview}}  

      <ion-button expand="block" (click)="abrirDetalhes(filme.id)">Detalhes</ion-button>
    </ion-card-content>
  </ion-card>  

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
    
</ion-content>
